.footer {
  background-color: #1e1823;
}

.footer-main {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  width: 300px;
  margin-bottom: 32px;
}

.footer-span-choco {
  color: #3470ff;
}

.footer-p {
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
  padding-bottom: 14px;
}

.contact-container {
  line-height: 1.29;
  color: #fff;
}

.footer-span-line {
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.footer-icon {
  stroke: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 22px;
  height: 22px;
}

.footer-icon:focus,
.footer-icon:hover {
  stroke: #3470ff;
}

.footer_contact_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer_list {
  display: flex;
  column-gap: 14px;
}

.footer_list_icon:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list {
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list:hover,
.contact-list:focus {
  color: #3470ff;
}

/* ==================================tablet================================== */
@media screen and (min-width: 768px) {
  .footer-title {
    font-size: 28px;
    line-height: 1.21;
    margin-bottom: 0;
  }
  .footer_contact_container {
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .contact {
    margin-right: 50px;
  }
  .footer-nav-container {
    flex-direction: row;
    column-gap: 24px;
  }
  .footer-main {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-span-line {
    margin-bottom: 24px;
  }
  .footer-icon {
    width: 24px;
    height: 24px;
  }
  .footer_container_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
  }
}

/* ==================================desk================================== */
@media screen and (min-width: 1200px) {
  .contact {
    margin-right: 63px;
  }
  .footer_container_flex {
    margin-bottom: 62px;
  }
}
